Core Libraries for Machine Learning and Computer Vision
tensorflow==2.16.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
opencv-python==4.9.0.80
mediapipe==0.10.14

Utility for Gesture Control (Keyboard/Mouse Emulation)
pynput==1.7.6